<!-- create_movie.ejs -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movies</title>
 </head>
 <body>
    <h1>Add Movies</h1>
    <form method="post" action="/create_movie">
        <label for="movie_name">Movie Name :</label>
        <input type="text" id="movie_name" name="movie_name">
        <br>
        <label for="movie_detail">Movie Detail :</label>
        <input type="text" id="movie_detail" name="movie_detail">
        <br>
        <label for="categoryID">Category :</label>
        <input type="INTEGER" id="categoryID" name="categoryID">
        <br>
        <label for="studioID">Studio :</label>
        <input type="INTEGER" id="studioID" name="studioID">
        <br>
        <label for="director">Director :</label>
        <input type="text" id="director" name="director">
        <br>
        <label for="flimmaking_funds">Budget :</label>
        <input type="text" id="flimmaking_funds" name="flimmaking_funds">
        <br>
        <label for="movie_income">Movie Income :</label>
        <input type="text" id="movie_income" name="movie_income">
        <br>
        <input type="submit" value="Add">
    </form>
    <a href="/">Back to List</a>
 </body>
 </html>