<!-- create_review.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="../images/icons/popcorn.png">
   <title>Movies Reviews</title>
   <link rel="stylesheet" href="../css/style.css">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Noto+Music&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
   <h1 class="mt-5 mb-5" style="font-size: 64px;">Add Category</h1>
   <form method="post" action="/create_category/">
        <label for="name">Category Name :</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="detail">Category Detail :</label>
        <input type="text" id="detail" name="detail">
        <br>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a class="back-btn" href="/categories" style="text-decoration: none;">Back</a>
            <input type="submit" value="Confirm" style="background-color: #39974A; margin-right: 10px; height: 80%;">
       </div>
   </form>
</body>
</html>